<div class="container">
	<div class="row toprow">

		<div class="col-4 box vegbox">
			<h3 align="center">Vegetables</h3>
			<input class="input-group form-control" aria-describedby="Filter By Name" placeholder="Filter">
			<h4 class="secondary-label">OrderBy</h5>
			<label class="ordering-type active">SIZE</label>|<label class="active ordering-type">NAME</label>				
		</div>

		<div class="col-lg-4 center-box">
			<h3 class="data">Pepper</h3>
			<button type="button" class="btn btn-success button-main">Vegetable</button>
			<button type="button" class="btn btn-warning button-main">Fruit</button>

			<form class="form custom-form">
			  <div class="form-group">
				      <label class="form-element text">Allow Delete</label>
					  <button class="dropdown form-element ddown" type="button" id="allowDelete" data-toggle="dropdown">Yes</button>
					  <div class="dropdown-menu" aria-labelledby="allowDelete">
					    <a class="dropdown-item" href="#">Yes</a>
					    <a class="dropdown-item" href="#">No</a>
					  </div>
			

					  <label class="form-element text">Item Color</label>
					  <button class="dropdown .form-element ddown" type="button" id="allowDelete" data-toggle="dropdown">Yes</button>
					  <div class="dropdown-menu" aria-labelledby="itemColor">
					    <a class="dropdown-item" href="#">Yellow</a>
					    <a class="dropdown-item" href="#">Blue</a>
					    <a class="dropdown-item" href="#">Orange</a>
					  </div>

			  </div>
		  </div>

		<div class="col-4 box fruitbox">
			<h3 align="center">Fruits</h3>
			<input class="input-group form-control"" aria-describedby="Filter By Name" placeholder="Filter">
			<h4 class="secondary-label">OrderBy</h5>
			<label class="ordering-type active">SIZE</label>|<label class="active ordering-type">NAME</label>
		</div>

	</div>

</div>